<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choco.smartlf.mapper.ItemInfoMapper">

    <resultMap id="BaseResultMap" type="com.choco.smartlf.entity.pojo.ItemInfo">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="type" column="type" />
            <result property="itemName" column="item_name" />
            <result property="eventTime" column="event_time" />
            <result property="location" column="location" />
            <result property="publicDesc" column="public_desc" />
            <result property="status" column="status" />
            <result property="isTop" column="is_top" />
            <result property="topEndTime" column="top_end_time" />
            <result property="isSensitive" column="is_sensitive" />
            <result property="reportCount" column="report_count" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type,item_name,event_time,location,
        public_desc,status,is_top,top_end_time,is_sensitive,
        report_count,create_time
    </sql>
</mapper>
